{% extends 'base.html' %}

{% block content %}

<h1 id="header">EPIC Artists</h1>

<div id="container">

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/jorge.jpg') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Jorge 'Jay' Miguel Rivera-Herrans as Odysseus</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/Luke.jpg') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Luke Holt as Zeus</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/armando.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Armando Julián as Eurylochus</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/Dookie.webp') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Steven Dookie as Polites</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/teagan.webp') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Teagan Earley as Athena</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/kira.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Kira Stone as Aeolus</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/anna.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Anna Lea as Penelope</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/miguel.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Miguel Veloso as Telemachus</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/steven.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/poseidon.png') }}"/>
        <h3 class="cast-member">Steven Rodriguez as Poseidon</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/talya.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Talya Sindel as Circe</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/troy.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Troy Doherty as Hermes</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/anticlea.png') }}"/>
        <h3 class="cast-member">Wanda Herrans as Anticlea</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/mason.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Mason Olshavsky as Tiresias</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/kj.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">KJ Burkhauser as Scylla</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/ayron.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Ayron Alexander as Antinous</h3>
        <p class="text"></p>
    </div>
    
    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/barbara.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Barbara Wangui as Calypso</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/brandon.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Brandon McInnis as Apollo</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Mike Rivera as Hephaestus</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/janani.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Janani K.Jha as Aphrodite</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">Earle Gresham Jr. as Ares</h3>
        <p class="text"></p>
    </div>

    <div class="cast">
        <img class="cast-image" src="{{ url_for('static', filename='photos/cast/poesy.png') }}"/>
        <img class="cast-image" src="{{ url_for('static', filename='photos/filler.png') }}"/>
        <h3 class="cast-member">POESY as Hera</h3>
        <p class="text"></p>
    </div>

</div>

{% endblock %}
