{% extends 'base.html' %}

{% block content %}

    <h1 id="header">Introduction to EPIC</h1>

    <p class="text">EPIC: The Musical is an up and coming musical concept album by songwriter Jorge Rivera-herrans, who previously wrote the musical soundtrack 'My Heart Says Go'.
        EPIC is an adaptation of the Greek myth The Odyssey by Homer that details teh story of Odysseus and his troubles along his journey home to Ithica from the Trojan war.
    </p>
    <p class="text">Jorge has a TikTok page, which has recently grown to 1M followers, where he details fun musical facts and meanings behind his work.</p>
    <p class="text">There are currently 7 sagas out with two more before EPIC's end, being the Vengeance and the Ithaca sagas.</p>
    <p class="text">Look at the other pages to see a list of all the songs that are out, as well as all the known voice actors and who they play :D</p>

{% endblock %}